# python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
*.egg-info/

# Data files
data/
datasets/

# pytest cache
.pytest_cache/

# training results
result/